<div class="container">
  <h1>Fox.Build Guest Book</h1>
  <%= form_for @entry do |f| %>
    <div class="form-group">
      <%= f.text_field :name,
      autofocus: true,
      class: "form-control",
      id: "name",
      type: "text",
      placeholder: "Enter Name" %>
    </div>
    <div class="form-group">
      <%= f.email_field :email,
    class: "form-control",
    placeholder: "Enter email" %>
    </div>
    <div class="form-group">
      <%= f.select(:referral,[
          "Meetup.com",
          "Facebook",
          "Twitter",
          "Chamber of Commerce",
          "Friend",
          "Another member",
          "Other (please specify below)",
        ],
        { prompt: "How did you hear about us?" },
        { class: "form-control" }) %>
    </div>
    <div class="form-group">
      <%= f.text_field :misc, class: "form-control", placeholder: "Comments (optional)" %>
    </div>
    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
