<center>
  <h1>Guest Sign In</h1>
  <img src="/fox.png" />
  <%= form_for @entry do |f| %>
    <b>Name:</b>
    <br>
    <%= f.text_field :name %>
    <br>
    <b>Email:</b>
    <br>
    <%= f.email_field :email %>
    <br>
    <br>
    <%= f.select :referral,
        [
          "Meetup.com",
          "Facebook",
          "Twitter",
          "Chamber of Commerce",
          "Friend",
          "Another member",
          "Other (please specify below)",
        ],
        prompt: "How did you hear about us?" %>
    <br>
    <b>Additonal comments (optional):</b>
    <br>
    <%= f.text_field :misc %>
    <br>
    <%= f.submit "Submit" %>
  <% end %>
  <br>
  <b>TAB KEY:</b> Next form field.
  <b>ENTER KEY:</b> Submit form.
</center>
