<div class="container">
  <h1>Fox.Build Guest Book</h1>
  <%= form_for @entry do |f| %>
    <div class="form-group">
      <%= f.text_field :name,
      autofocus: true,
      class: "form-control",
      id: "name",
      type: "text",
      tabindex: 1,
      placeholder: "Enter Name" %>
    </div>
    <div class="form-group">
      <%= f.email_field :email,
    class: "form-control",
      tabindex: 2,
    placeholder: "Enter email" %>
    </div>
    <div class="form-group">
      <%= f.select(:referral,[
          "Meetup.com",
          "Facebook",
          "Twitter",
          "Chamber of Commerce",
          "Friend",
          "Another member",
          "Other (please specify below)",
        ],
        { prompt: "How did you hear about us?" },
        { class: "form-control",tabindex: 3 }) %>
    </div>
    <div class="form-group">
      <%= f.text_field :misc, class: "form-control", tabindex: 4, placeholder: "Comments (optional)" %>
    </div>
    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-primary", tabindex: 5 %>
    </div>
  <% end %>
  <script>
  var inputs = document.querySelectorAll("input");
  for (var i = 0 ; i < inputs.length; i++) {
     inputs[i].addEventListener("keypress", function(e){
        if (e.which == 13) {
           e.preventDefault();
           var nextInput = document.querySelectorAll('[tabIndex="' + (this.tabIndex + 1) + '"]');
           if (nextInput.length === 0) {
              nextInput = document.querySelectorAll('[tabIndex="1"]');
           }
           nextInput[0].focus();
        }
     })
  }
</script>
</div>
