<center>
  <style>
  @media screen and (max-width: 800px) {
   .no-small-screens { display: none; }
  }
  </style>
  <h1>Guest Sign In</h1>
  <img src="/fox.png" class="no-small-screens" />
  <%= form_for @entry do |f| %>
    <b>Name:</b>
    <br>
    <%= f.text_field :name, autofocus: true, style: "width: 100%" %>
    <br>
    <b>Email:</b>
    <br>
    <%= f.email_field :email, style: "width: 100%" %>
    <br>
    <br>
    <%= f.select :referral,
        [
          "Meetup.com",
          "Facebook",
          "Twitter",
          "Chamber of Commerce",
          "Friend",
          "Another member",
          "Other (please specify below)",
        ],
        prompt: "How did you hear about us?" %>
    <br>
    <b>Additonal comments (optional):</b>
    <br>
    <%= f.text_field :misc, style: "width: 100%" %>
    <br>
    <%= f.submit "Submit", style: "width: 100%" %>
  <% end %>
  <br>
  <b>TAB KEY:</b> Next form field.
  <b>ENTER KEY:</b> Submit form.
</center>
