<center>
  <style>
  /** Whatever -RC */
  h1 {
    height: 100px;
  }

  .hacky-input {
    width: 100%;
    height: 90px;
  }
  @media screen and (max-width: 800px) {
   .no-small-screens { display: none; }
  }
  </style>
  <h1>Guest Sign In</h1>
  <img src="/fox.png" class="no-small-screens" />
  <%= form_for @entry do |f| %>
    <h2>Name:</h2>
    <br>
    <%= f.text_field :name, autofocus: true, class: "hacky-input" %>
    <br>
    <h2>Email:</h2>
    <br>
    <%= f.email_field :email, class: "hacky-input" %>
    <br>
    <br>
    <%= f.select :referral,
        [
          "Meetup.com",
          "Facebook",
          "Twitter",
          "Chamber of Commerce",
          "Friend",
          "Another member",
          "Other (please specify below)",
        ],
        prompt: "How did you hear about us?" %>
    <br>
    <h2>Additonal comments (optional):</h2>
    <br>
    <%= f.text_field :misc, class: "hacky-input" %>
    <br>
    <%= f.submit "Submit", class: "hacky-input" %>
  <% end %>
  <br>
  <b>TAB KEY:</b> Next form field.
  <b>ENTER KEY:</b> Submit form.
</center>
